.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.field-set-animation-container {
    position: relative;
    width: 100%;
}

.field-set-animation-container input::placeholder {
    opacity: 0;
}

.field-set-animation-container input {
    width: 100%;
    background-color: transparent;
    height: 45px;
    font-size: 1rem;
    padding: 6px 8px;
    outline: none;
    border: 1px solid gray;
    box-sizing: border-box;
    border-radius: 5px;
}

.field-set-animation-container label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #757575;
    letter-spacing: 1px;
    transition: 0.3s;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.field-set-animation-container input:focus+label,
.field-set-animation-container input:not(:placeholder-shown)+label {
    top: 0;
    font-size: 0.75rem;
    color: #8d8d8d;
    background: #fff;
    padding: 2px 7px;
}

.field-set-animation-container input:focus {
    border: 2px solid #8d8d8d;
}